.container {
    width: 50%;
    max-width: 600px;
    /* Вычислим высоту секции на основе отступов: марджинов и паддингов родительских контейнеров  */
    max-height: calc(100vh - 80px - 88px - 40px);
}

.ingredients {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    max-height: calc(100vh - 80px - 88px - 40px - 90px - 60px);
    overflow-y: auto;
}

.cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(208px, 1fr));
    gap: 24px;
    margin: 0;
}