.card {
    position: relative;
    max-width: 208px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.quantity {
    position: absolute;
    top: 0;
    right: -30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: #4C4CFF;
    border-radius: 16px;
}

.image {
    width: auto;
    height: 120px;
    object-fit: cover;
    object-position: center;
    font-size: 0;
}

.price {
    display: flex;
    align-items: center;
    justify-content: center;
}