.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 1280px;
    height: 80vh;
    margin: 0 auto;
    padding: 120px 20px;
}